*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #3e1f5d, #7086e6);
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

}

header{
    font-size: 1.5rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form  button{
    padding: 0.5rem;
    border: none;
    font-size: 2rem;
    background: whitesmoke;
}

form button{
    color: midnightblue;
    transition: all 0.3s ease;
    cursor: pointer;
}

form button:hover{
    background: #7086e6;
    color: whitesmoke;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
margin:  3vh auto;

}

.todo{

    min-width: 60%;
    list-style: none;
    margin: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    background: whitesmoke;
    border: none;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease;
}
.todo-list{
    width: 90%;
}
.todo li{
    flex: 1;
    transition: all 0.3s ease;
    background-color: whitesmoke;
}

.trash-button, .complete-button{
    background: #3e1f5d;
    color: whitesmoke;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    border: none;
}

.complete-button{
    background: rebeccapurple;
}

.todo-item{
    padding: 0 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

/*select style*/

select{
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.select{
    margin: 1rem;
position: relative;
    overflow: hidden;
}

select{
    position: relative;
    color: rebeccapurple;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    font-size: large;
}

.select::after{
    position: absolute;
    content:  "\25BC";
    top: 0;
    right: 0;
    background: rebeccapurple;
    padding: 1rem;
    pointer-events: none;
    transition: all  0.3s ease;
}

select:hover::after{
    background: whitesmoke;
    color: #3e1f5d;
}
